body{
    /*  background-image: url("images/background.jpg");
    background-size: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 35%,rgba(254,254,254,1), white);*/
}

.nav{
    border-radius: 20px;
    height: 45px;
    width: 70%;
    margin: auto;
}

.nav li {
    margin: auto;
}

.wrapper{
    position: absolute;
    top: 400;
}

.container{
}

.bck_img {
    height: 100%;
    width: 100%;
}


.titre {
    position: absolute;
    top: 25%;
    left: 33%;
    font-size: 65px;
    color: white;
    font-family: 'Permanent Marker', cursive;
}

.titre2 {
    position: absolute;
    top: 35%;
    left: 33%;
    font-size: 22px;
    color: white;
    
}

.section_1 {
    text-align: center;
    color: white;
    margin: 45px;
    position: absolute;
    top: 70%;
}

.section_2 {
    text-align: center;
    color: white;
    margin: 45px;
    position: absolute;
    top: 90%;
}

.welcome_txt {
    font-size: 25px;
}

.col-sm {
    padding: 15px;
}
