body{
    background-image: url("images/background.jpg");
    background-size: 100%;
}

#logo{
    max-width: 20%;
    display: inline;
}

.nav{
    border-radius: 20px;
    height: 45px;
    width: 70%;
    margin: auto;
}

.nav li {
    margin: auto;
}

header{
}

.container{
    padding-bottom: 200px;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 35%,rgba(254,254,254,1), white);
}