/*HEADER*/
.titreDeLaPage{
    text-align: center;
    color: aliceblue;
}

.container1000{
    margin:40px 150px;
}

.menuHamburger{
    display: flex;
    justify-content: center;
    appearance: button;
    
}

a.couleurTexteHamburger{
    font-weight: bold;
    width: 50%;
    text-align: center;
    text-decoration: none ;
    
    color: rgba(255, 255, 255, 0.329) ;
}
 a.couleurTexteHamburger:hover{
    text-decoration: underline ;
    text-decoration-color: red ;
    color: rgb(255, 255, 255) ;
}
@media screen and (max-width:858px){
    .container1{
        margin-top:5px;
        margin:20px;
    }
    a.couleurTexteHamburger{
        width: 100%;
    }
}
@media screen and (max-width:481px){
  .hamburger{
    
    width: 35px;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.329);
    margin: 6px 10px;
    
}
.menuHamburger:not(:first-child) {display: none}  
  
}
/*HEADER FIN*/

/*Body*/

.body{
        margin:0;
        padding:0;
        background-image: url("../images/background.jpg");
        background-size: 100%;
  
}


.container{
    
   
    text-align:center;
    margin:auto;
    
    margin-bottom:20px;
    
    color: aliceblue;

}
.email .NomPrnom {
    width: auto;
    margin-left:10px;
    margin-right: 10px; 
}
#NomPrenom, #Email, #messageclient{
    width:450px;
    font-size: 1em;
    margin-left:10px;
    margin-right: 10px;
}
#Envoyer{
    display: inline;
    width:350px;
    
}

@media screen and (max-width: 600px){
    

    #NomPrenom, #Email, #liste, #messageclient{
        width:150px;
        
    }
    #Envoyer{
       
        width:100px;
    
    }
}
/*HEADER*/
@media screen and (max-width:858px){
    .container1{
        margin-top:5px;
        margin:20px;
    }
    a.couleurTexteHamburger{
        width: 100%;
    }
}
@media screen and (max-width:481px){
  .hamburger{
    
    width: 35px;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.329);
    margin: 6px 10px;
    
}
.liste:not(:first-child) {display: none}  
  
}
/*HEADER FIN*/