/*Header*/
.H1{
    text-align: center;
    color: aliceblue;
}


.liste{
    display: flex;
    justify-content: center;
    appearance: button;
    
}


a:hover{
    text-decoration: underline !important;
    text-decoration-color: red !important;
    color: rgb(255, 255, 255) !important;
}

/*Body*/
.body{
     background-image: url("../images/background.jpg")

  
}
.container{
    
   
    text-align:center;
    margin:auto;
    
    margin-bottom:20px;
    
    color: aliceblue;

}
.email .NomPrnom {
    width: auto;
    margin-left:10px;
    margin-right: 10px; 
}
#NomPrenom, #Email, #messageclient{
    width:450px;
    font-size: 1em;
    margin-left:10px;
    margin-right: 10px;
}
#Envoyer{
    display: inline;
    width:350px;
    
}

@media screen and (max-width: 600px){
    

    #NomPrenom, #Email, #liste, #messageclient{
        width:150px;
        
    }
    #Envoyer{
       
        width:100px;
    
    }
}
